:2015 {
    bind 0.0.0.0
    gzip
    root .
    
    git {
        repo https://github.com/threefold-love/www_threefold_love.git
        branch production
        hook /webhook "zU3687$ajEb6"
        key ~/.ssh/id_rsa
        path . 
    }
}
